/*barra*/

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    color: white;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 8%;
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
}

.logo{
    padding-right: 0px;
}
nav ul {
    margin-top: 2.5%;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: lighter;
}

nav ul li a:hover {
    color: #2A9B39;
}

.botao-pesquisa{
    border: 0px;
    background-color: white;
    padding-right: 18px;
    padding-left: 36px;
}
/*titulo*/

#img_header{
    width: 100%;
    margin: 0%;
}

#sobre-titulo{
    position: absolute;
    top: 41.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: none;
    box-shadow: none;
    font-size: 30px;
    font-weight: bold;
}

#sobre-maintext {
    color: black;
}

#sobre_nos{
    padding-bottom: 35%;
    font-family: "Inter", sans-serif ;
    font-weight: bold;
    font-size: 35px;
    color: #2A9B39;
}
/*section*/
#gestao{
    margin-top: 10%;
    height: 100%;
    width: 100%;
    background: #0C5423;
}
/*titulo section*/
.text-gest{
    font-size: 30px;
    color: #ECECEC;
    margin-left: 41%;
}
.text-title{
    margin-right: 25%;
    color: #ECECEC;
    font-size: 15px;
    margin-left: 24%;
    margin-bottom: 2%;
    text-align: center;
}
/*cards*/
.card{
    width: 80%;
    height: 95%;
    margin-left: 10%;
    padding: 1%;
}
/*textos do cards*/
.card-title{
    color: #000;
}
.card-text{
    color: #000;
}

/*Área dos objetivos*/
.objects{
    margin-top: 4%;
}
#title-obj{
    color: #2A9B39;
    font-size: 35px;
    margin-left: 5%;
    
}


















/*import*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

/*footer*/
footer{
    background-color: #ECECEC;
    padding-top: 2em;
    padding-bottom: 40px;
    border-top: 5px solid #2A9B39;
    font-family: "Inter", sans-serif;
}
footer h2, footer p, footer a{
    color: #000;   
}
footer h2{
    font-weight: 500;
    font-size: 25px;
}
footer a{
    text-decoration: none;
}
footer ul{
    padding: 0;
}
footer li{
    list-style: none;
}
.footer-box{
    width: 31%;
    padding: 3%;
    float: left;
}
footer .wrapper::after{
    clear: both;
    content: "";
    display: block;
}
.company-footer{
    width: 80%;
}
.company-footer h2{
    margin-top: 20px;
}
.company-footer h2, .company-footer p{
    margin-bottom: 20px;
}
.company-footer .footer-list a{
    font-size: 25px;   
    padding: 0 2px;
    
}
.footer-list li{
    margin-bottom: 1px;
}
.footer-list a{
    transition: 0.5s;
}
.footer-list a:hover{
    color: #2A9B39;
}
.footer-list li::after{
    clear: both;
    content: "";
    display: block;
}
.menu-footer{
    width: 80%;
    margin-left: 100px;
}
.footer-bottom{
    border-top: 1px solid #000;
}
.footer-bottom p{
    font-size: 14px;
    font-weight: 600;
    margin-top: 30px;
}
