/*barra*/

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    color: white;
}

.inactive{
    color: #c2c2c2;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 8%;
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
}

.logo{
    padding-right: 0px;
}

nav ul {
    margin-top: 2.5%;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-family: "Inter", sans-serif;
}

nav ul li .inactive {
    color: #d6d4d4;
}

nav ul li a:hover {
    color: #2A9B39;
}

.botao-pesquisa{
    background-color: white;
    border: 0px;
    margin-left: 13px;
}

.btns .botao-entrar:hover{
    background-color: #c2c2c2;
    border-color: #404040;
}

/*DROPPDOWN MENU*/
.dropdown_menu{
    display: none;
    position: fixed;
    right: 2rem;
    height: 0;
    top: 75px;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.toggle_btn{
    display: none;
}

.dropdown_menu.open{
    height: 270px;
}

.dropdown_menu .drop_menu{
    width: 100%;
    padding: 0.7rem;
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-top: 1%;
    border-bottom: 0.2px solid #eeecec;
}

.dropdown_menu a{
    color: #000000;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

.dropdown_menu a:hover{
    font-weight: bold;
    scale: 1.05;
    color: #2A9B39;
}

/*titulo*/

#img_header{
    width: 100%;
    margin: 0%;
}

#sobre-titulo{
    position: absolute;
    font-family: "Inter";
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 1px 1px 5px #474747;
    box-shadow: none;
    font-size: 30px;
    font-weight: bold;
}

.sobre-main-text{
    text-align: left;
    margin-top: 4%;
    margin-left: 20%;
    padding-inline-end: 18%;
    color: black;
    font-family: "Cabin", sans-serif;
    font-weight: 500;
}

#sobre_nos{
    padding-bottom: 35%;
    font-family: "Inter", sans-serif ;
    font-weight: bold;
    font-size: 35px;
    color: #2A9B39;
}


/*section gestao*/
#gestao{
    margin-top: 4%;
    height: 100%;
    width: 98.7vw;
    background: #156643;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.colaboradores{

    margin-top: 2%;
    height: 100%;
    width: 98.7vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
/*titulo section*/

#title-gestao{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-gest{
    font-size: 30px;
    color: #ECECEC;
    text-align: center;
    text-shadow: 1px 1px 5px rgb(44, 43, 43);
    margin-bottom: -0.5%;
    display: block;
}
.text-title{
    color: #ECECEC;
    font-size: 15px;
    margin-bottom: 3%;
    text-align: center;
    width: 60%;
    margin-left: 19.5%;
    text-shadow: 1px 1px 5px rgb(44, 43, 43);
}

/*Grid*/

.colaboradores-grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    align-content: center;
    column-gap: 10px;
    row-gap: 0.2px;
}

/*Cards*/

.card-text{
    color: white;
    font-size: 12px;
}

.card-title{
    color: white;
}

.card .card-img-overlay{
    margin-top: 55%;
    text-shadow: 1px 1px 3px rgb(44, 43, 43);
    border-radius: 30px;
}

#gestao .colaboradores .card .card-img-top{
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgb(37, 37, 37);
    height: 300px;
    
}

div .card{
    background-color: #156643;
}

.card{
    height: 10rem;
    margin-bottom: 30%;
    border: 0px #156643;
}

/*Área dos objetivos*/

.objetivos-titulo{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 5%;
    margin-bottom: 50px;
    margin-left: 5%;
}

.objetivos-subtitulo{
    color: black;
    font-family: "Cabin", sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
}

.objetivos-h2{
    color: #2A9B39;
    font-size: 36px;
    text-align:start;
}

.objetivos-grid{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-content: center;
    column-gap: 20px;
    row-gap: 1px;
    margin-left: 5%;
    margin-right: 5%;
}

#card_extra{
    display: none;
}


.grid-objetivos{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-content: center;
    column-gap: 20px;
    row-gap: 1px;
    margin-left: 15%;
    margin-right: 15%;
}


.objetivos .objetivos-grid .card-objetivos{
    background-color: white ;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 5px #b1b1b1;
}

.objetivos .card-last{
    background-color: white ;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 5px #b1b1b1;
    width: 55%;
    margin-bottom: 5%;
    height: 10rem;
    margin-left: 22%;
}

.objetivos .objetivos-grid .card{
    margin-bottom: 6%;
}

.objetivos .objetivos-grid .card-objetivos .card-objetivos-titulo{
    color: #156643;
    font-size: 20px;
    font-weight: 650;
    margin-top: 2%;
    font-family: "Cabin", sans-serif;
}

.objetivos .card-objetivos-titulo{
    color: #156643;
    font-size: 20px;
    font-weight: 650;
    margin-top: 2%;
    font-family: "Cabin", sans-serif;
}

.objetivos .objetivos-grid .card-objetivos .card-objetivos-texto{
    color: black;
    font-size: 14px;
    font-family: "Cabin", sans-serif;
    width: 100%;
    font-weight: 550;
    letter-spacing: 0.5px;
    text-align: center;
}

.objetivos .card-objetivos-texto{
    color: black;
    font-size: 14px;
    font-family: "Cabin", sans-serif;
    width: 100%;
    font-weight: 550;
    letter-spacing: 0.5px;
    text-align: center;
}

/*Equipamentos*/

.equipamentos-titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8%;
}

.equipamentos-subtitulo{
    color: black;
    font-family: "Cabin", sans-serif;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    letter-spacing: 1px;
    padding-bottom: 20px;
    margin-top: -2%;
}

.equipamentos-h2{
    color: #2A9B39;
    font-size: 36px;
    text-align: center;
}

.equipamento-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-content: center;
    column-gap: 25px;
    row-gap: 1px;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 3%;
    margin-bottom: 10%;
}

.equipamento-grid .equipamento-card{
    background-color: white ;
    box-shadow: 1px 1px 5px #b1b1b1;
    width: 360px;
    margin-bottom: 10%;
}

.equipamento-card-texto{
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
    top: 25%;
    margin-left: 50%;
}

.equipamentos-img{
    border-radius: 100%;
    height: 120px;
    float: left;
    margin-top: 3%;
    margin-left: 4%;
}

.equipamento-card-titulo{
    color: #1f1f1f;
    font-size: 17px;
    font-weight: 600;
    font-family: "Cabin", sans-serif;
}

.equipamento-card-descricao{
    color: #474747;
    font-size: 16px;
    font-weight: 500;
    font-family: "Cabin", sans-serif;
}


.equipamentos-img-div{
    margin-left: 0%;
}


/*Área de como participação*/
.part{
    margin-top: 3%;
    margin-bottom: 8%;
}
#title-participa{
    color: #2A9B39;
    font-size: 35px;
    margin-left: 8%;
    font-weight: bold;
    font-family: "Inter", sans-serif;
}
#text-part{
    color: #000;
    font-size: 15px;
    padding-inline-end: 35%;
    margin-left: 8%;
    margin-top: 3%;
}
#botao-p{
    background: transparent;
    border-radius: 4px;
    border-width: thin;
    border-color: #2A9B39;
    color:#2A9B39;
    margin-top: 2%;
    margin-left: 8%;
    padding: 6px;
    width: 12%;
    transition: 0.5s;
}
#botao-p:hover{
    background: #2A9B39;
    transition: 0.5s;
    color: #FFF;
}

/*import*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

/*footer*/

.footer_rodape{
    background-color: #ECECEC;
    width: 100%;
    display: absolute;
    flex-direction: column;
    align-items: start;
    bottom: 0;
   
    overflow: hidden;
}

.rodape{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-content: center;
    column-gap: 90px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 10%;
    padding-right: 10%;
    z-index: 10;
}

.rodape_logo{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.logo_footer{
    height: 70px;
}

.footer_horizontal{
    flex-direction: row;
    gap: 10px;
    margin-top: 40px;
}

.rodape_logo_texto{
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    width: 60%;
    margin-top: -4%;
    color: #000;
}

.footer_redes{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.redes_icon{
    height: 80px;
}

.footer_menu{
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 20px;
    margin-right: 60px;
}

.footer_menu_h3{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: #000;
}

.footer_menu_links{
    text-decoration: none;
    font-family: "Inter",sans-serif;
    font-size: 13px;
    color: #000;
    cursor: pointer;
}

.footer_menu_links:hover{
    color: #2A9B39;
}
.footer_menu_links_inativos:hover{
    color: #2A9B39;
}

.footer_contato{
    font-family: "Inter", sans-serif;
}
.footer_contato-texto{
    color: #000;
    font-size: 13px;
}

.footer_horizontal .footer_contato-titulo{
    color: #000;
    font-size: 20px;
    font-weight: 490;
}

.footer-bottom{
    margin-top: 8%;
    padding-left: 10%;
    width: 100%;
}

.wrapper {
    width: 100%;
}

.wrapper p {
    color: #000;
    font-size: 16px;
    width: 80%;
    font-family: "Inter", sans-serif;
}

.footer_menu_links_inativos{
    color: #515A5A;
    text-decoration: none;
    font-family: "Inter",sans-serif;
    font-size: 13px;
}
/*Responsividade: Celular*/

/*Barra de Navegação: Responsividade*/

@media (max-width:900px){

    .logo{
        height: 75px;;
    }

    .nav-bar .links{
        display: none;
    }
    
    .nav-bar .toggle_btn{
        display: block;
    }

    .dropdown_menu{
        display:block;
        right: 0%;
        width: 60%;
        border-top: 1px solid #ECECEC;
        border-left: 1px solid #ECECEC;
        border-right: 1px solid #ECECEC;
        border-bottom: 1px solid #ECECEC;
        z-index: 3;
    }

    .dropdown_menu{
        left: 0;
        right: 0;
        width: unset;
    }

    .botao-pesquisa{
        background-color: white;
        border: 0px;
        padding-left: 5px;
    }

    .btns .botao-entrar{
        height: 30px;
        font-size: 12px;
        font-family: "Inter", sans-serif;

    }

    .btns{
        margin-right: -130px;
    }

}

/*Header e Titulo: Responsividade*/

@media (max-width:900px){

    #img_header{
        height: 30%;
    }

    #sobre-titulo{

        position: absolute;
        font-family: "Inter";
        top: 27.5%;
        left: 51%;
        width: 60%;
        text-shadow: none;
        box-shadow: none;
        font-size: 25px;
        font-weight: bold;

    }

}

/*Equipe: Responsividade*/

@media (max-width:900px){

    .sobre-main-text-div{
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .sobre-main-text{
        text-align: left;
        margin-top: 4%;
        margin-left: 10%;
        padding-inline-end: 18%;
        color: black;
        font-family: "Cabin", sans-serif;
        font-size: 13px;
        font-weight: 500;
        width: 100%;
    }
    
    #sobre_nos{
        padding-bottom: 35%;
        font-family: "Inter", sans-serif ;
        font-weight: bold;
        font-size: 35px;
        color: #2A9B39;
    }

}

/*Gestão: Responsividade*/

@media (max-width:900px){

    #gestao{
        margin-top: 4%;
        height: 100%;
        width: 98.7vw;
        background: #156643;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 90px;

    }
    
    .colaboradores{
    
        margin-top: 2%;
        height: 100%;
        width: 98.7vw;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    #title-gestao{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .text-gest{
        font-size: 25px;
        color: #ECECEC;
        text-align: center;
        margin-top:15%;
        text-shadow: 1px 1px 5px rgb(44, 43, 43);
        margin-bottom: -0.5%;
        display: block;
    }
    .text-title{
        color: #ECECEC;
        font-size: 13px;
        margin-bottom: 3%;
        text-align: center;
        width: 90%;
        margin-left: 5%;
        margin-top: -1%;
        text-shadow: 1px 1px 5px rgb(44, 43, 43);
    }
    
    /*Grid*/
    
    .colaboradores-grid{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        align-content: center;
        column-gap: 10px;
        row-gap: 100px;
    }
    
    /*Cards*/
    
    .card-text{
        color: white;
        font-size: 9px;
        margin-top: -5%;
    }
    
    .card-title{
        color: white;
        font-size: 18px;
    }
    
    .card .card-img-overlay{
        margin-top: 66%;
        text-shadow: 1px 1px 3px rgb(44, 43, 43);
        border-radius: 30px;
    }
    
    #gestao .colaboradores .card .card-img-top{
        border-radius: 30px;
        box-shadow: 2px 2px 2px rgb(37, 37, 37);
    }
    
    div .card{
        background-color: #156643;
    }
    
    .card{
        height: 5rem;
        margin-bottom: 30%;
        border: 0px #156643;
    }
    

}

/*Gestão: Responsividade*/

@media (max-width:900px){

    .objetivos-titulo{
        display: flex;
        flex-direction: column;
        align-items: left;
        margin-top: 5%;
        margin-bottom: 50px;
        margin-left: 5%;
    }
    
    .objetivos-subtitulo{
        color: black;
        font-family: "Cabin", sans-serif;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 1px;
    }
    
    .objetivos-h2{
        color: #2A9B39;
        font-size: 30px;
        text-align:start;
    }
    
    .objetivos-grid{
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        align-content: center;
        column-gap: 20px;
        row-gap: 1px;
        margin-left: 5%;
        margin-right: 5%;
    }
    
    
    .grid-objetivos{
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        align-content: center;
        column-gap: 20px;
        row-gap: 1px;
        margin-left: 15%;
        margin-right: 15%;
    }
    
    
    .objetivos .objetivos-grid .card-objetivos{
        background-color: white ;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 1px 1px 5px #b1b1b1;
        height: 20rem;
    }
    
    .objetivos .card-last{
        background-color: white ;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 1px 1px 5px #b1b1b1;
        width: 90%;
        margin-bottom: 5%;
        margin-right: 15%;
        margin-left: 10%;
        height: 8rem;
        display: none;
    }
    
    .objetivos .objetivos-grid .card{
        margin-bottom: 6%;
        height: 8rem;
    }
    
    .objetivos .objetivos-grid .card-objetivos .card-objetivos-titulo{
        color: #156643;
        font-size: 15px;
        font-weight: 650;
        margin-top: -0.8%;
        font-family: "Cabin", sans-serif;
    }
    
    .objetivos .card-objetivos-titulo{
        color: #156643;
        font-size: 15px;
        font-weight: 650;
        margin-top: 2%;
        font-family: "Cabin", sans-serif;
    }

    #card_extra{
        display: block;
    }
    
    .objetivos .objetivos-grid .card-objetivos .card-objetivos-texto{
        color: black;
        font-size: 13px;
        font-family: "Cabin", sans-serif;
        width: 100%;
        font-weight: 550;
        letter-spacing: 0.5px;
        margin-top: 4%;
        text-align: center;
    }
    
    .objetivos .card-objetivos-texto{
        color: black;
        font-size: 12px;
        font-family: "Cabin", sans-serif;
        width: 90%;
        font-weight: 550;
        letter-spacing: 0.5px;
        text-align: center;
        margin-top: -0.8%;
    }

}

/*Nosso Equipamento: Responsividade*/

@media (max-width:900px){

    .equipamentos-titulo{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 4%;
    }
    
    .equipamentos-subtitulo{
        color: black;
        font-family: "Cabin", sans-serif;
        font-size: 13px;
        text-align: center;
        font-weight: 400;
        width: 80%;
        letter-spacing: 1px;
        padding-bottom: 20px;
        margin-top: -2%;
    }
    
    .equipamentos-h2{
        color: #2A9B39;
        font-size: 25px;
        text-align: center;
    }
    
    .equipamento-grid{
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        align-content: center;
        column-gap: 25px;
        row-gap: 1px;
        margin-left: 7%;
        margin-right: 7%;
        margin-top: 3%;
    }
    
    .equipamento-grid .equipamento-card{
        background-color: white ;
        box-shadow: 1px 1px 5px #b1b1b1;
        width: 360px;
        margin-bottom: 10%;
        height: 9rem;
    }
    
    .equipamento-card-texto{
        display: flex;
        flex-direction: column;
        align-items: start;
        position: relative;
        top: 30%;
        margin-left: 50%;
    }
    
    .equipamentos-img{
        border-radius: 100%;
        height: 120px;
        float: left;
        margin-top: 3%;
        margin-left: 4%;
    }
    
    .equipamento-card-titulo{
        color: #1f1f1f;
        font-size: 17px;
        font-weight: 600;
        font-family: "Cabin", sans-serif;
    }
    
    .equipamento-card-descricao{
        color: #474747;
        font-size: 16px;
        font-weight: 500;
        font-family: "Cabin", sans-serif;
    }
    
    
    .equipamentos-img-div{
        margin-left: 0%;
    }
    
}

/*Formulário: Responsividade*/

@media (max-width:900px){

    .part{
        margin-top: 3%;
        margin-bottom: 8%;
    }
    #title-participa{
        color: #2A9B39;
        font-size: 25px;
        margin-left: 8%;
        font-weight: bold;
        font-family: "Inter", sans-serif;
    }
    #text-part{
        color: #000;
        font-size: 13px;
        padding-inline-end: 35%;
        margin-left: 8%;
        margin-top: 3%;
        width:100%;
    }
    #botao-p{
        background: transparent;
        border-radius: 4px;
        border-width: thin;
        border-color: #2A9B39;
        color:#2A9B39;
        margin-top: 2%;
        margin-left: 8%;
        padding: 6px;
        width: 25%;
        font-size: 13px;
        transition: 0.5s;
    }
    #botao-p:hover{
        background: #2A9B39;
        transition: 0.5s;
        color: #FFF;
    }
    

}


/*Footer: Responsividade*/

@media (max-width:900px){

    .footer_rodape{
        background-color: #ECECEC;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        column-width: 100%;
    }
    
    .rodape{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        column-gap: 90px;
        padding-top: 2%;
        padding-bottom: 2%;
        padding-left: 10%;
        padding-right: 10%;
    }
    
    .rodape_logo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .logo_footer{
        height: 40px;
    }
    
    .footer_horizontal{
        flex-direction: row;
        gap: 10px;
        margin-top: 40px;
    }
    
    .rodape_logo_texto{
        font-size: 13px;
        font-family: "Inter", sans-serif;
        font-weight: 500;
        width: 60%;
        margin-top: -4%;
        text-align: center;
        color: #000;
    }
    
    .footer_redes{
        display: flex;
        flex-direction: row;
        gap: 8px;
    }
    
    .redes_icon{
        height: 80px;
    }
    
    .footer_menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 20px;
        margin-left: 65px;
        padding-bottom: 10%;
    }
    
    .footer_menu_h3{
        font-family: "Inter", sans-serif;
        font-weight: 600;
        color: #000;
    }
    
    .footer_menu_links{
        text-decoration: none;
        font-family: "Inter",sans-serif;
        font-size: 13px;
        color: #000;
    }
    
    .footer_contato{
        font-family: "Inter", sans-serif;
        text-align: center;
        padding-top: 50px;
    }
    .footer_contato-texto{
        color: #000;
        font-size: 13px;
        text-align: center;
    }
    
    .footer_horizontal .footer_contato-titulo{
        color: #000;
        font-size: 20px;
        font-weight: 490;
        text-align: center;
    }
    
    .footer-bottom{
        margin-top: 8%;
        padding-left: 10%;
        width: 100%;
    }
    
    .wrapper {
        width: 100%;
    }
    
    .wrapper p {
        color: #000;
        font-size: 10px;
        width: 80%;
        text-align: center;
        font-family: "Inter", sans-serif;
    }
    

}