/*GERAL*/

.titles{
    font-family: "Inter", sans-serif;
}

/*barra de navegação*/

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 8%;
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
}

.logo{
    padding-right: 0px;
}

.hamburger{
    display: none;
}

nav ul {
    margin-top: 2.5%;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 400;
}

nav ul li a:hover {
    color: #2A9B39;
}

.botao-pesquisa{
    background-color: white;
    border: 0px;
}

/* header e título*/

#img_cultura{
    width: 100%;
    margin: none;
}

#cultura-maker-titulo{
    position: absolute;
    font-family: "Inter";
    top: 41.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: none;
    box-shadow: none;
    font-size: 30px;
    font-weight: bold;
}

/*Texto Principal*/

#cultura-maker-texto-principal-div{
    margin-top: 4%;
}

#cultura-maker-p1-titulo{
    margin-left: 41.1%;
    font-family: "Inter", sans-serif;
    font-weight: bolder;
    color: #2A9B39;
    letter-spacing: 2px;
}

#cultura-maker-background{
    margin-bottom: 0%;
    margin-left: 6%;
    margin-top: 10%;
}

#cultura-maker-texto{
    position: absolute;
    margin-top: 4%;
    margin-left: 9%;
    width: 35%;

}

.cultura-maker-p{
    font-family: "Arimo", sans-serif;
    font-size: 19px;
}

#cultura-maker-cm-img{
    position: absolute;
    margin-left: 57%;
    margin-top: 4%;
    float: right;
    height: 240px;
}

/*Cultura Maker*/

.cultura-maker-titulo{
    color: #2A9B39;
    font-size: 26px;
    font-weight: bold;
    
}

.second-table{
    margin-left: 16%;
}

.cartao{
    padding: 20px;
}

.cultura-maker-cards-uni{
    border-radius: 100%;
    width: 14rem;
}

.card{
    border-radius: 40%;
}

.cultura-maker-valores{
    margin-top: 7%;
    margin-left: 7%;
}

.div-img-cm{
    margin-top: 3.5%;
}
.cartao-texto{
    font-size: 9px;
    color: #8a8a8a;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto ;
    justify-content: center;
    align-content: center;
    gap: 5%;
    padding-top: 20px;
    margin-right: 40px;
    padding-right: 10%;
}

.grid-container-second{
    display: grid;
    grid-template-columns: auto auto ;
    justify-content: center;
    align-content: center;
    gap: 5%;
    padding-top: 20px;
}

.container-left{
    margin-left: 11%;
}



/*Espaço Maker*/

.espaco-maker{
    margin-top: 7%;
}

.espaco-maker-titulo{
    color: #2A9B39;
    font-weight: bold;
    letter-spacing: 2px;
    margin-left: 4%;
}

.espaco-maker-texto{
    margin-right: 15%;
    margin-left: 4%;
    margin-top: 4.5%;
}

.espaco-maker-texto-p{
    font-size: 20px;
    font-family: "Arimo", sans-serif;
    font-weight: 400;
}

.espaco-maker-figures{
    height: 300px;
    float: right;
    margin-right: 5%;
}

/*Galeria*/

.galeria{
    margin-top: 28%;
}

.galeria-titulo{
    margin-left: 4%;
    margin-top: 7%;
    color: #2A9B39;
    font-weight: bold;
    letter-spacing: 2px;
}

/*import*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

/*footer*/
footer{
    background-color: #ECECEC;
    padding-top: 2em;
    padding-bottom: 40px;
    margin-top: 10%;
    border-top: 5px solid #2A9B39;
    font-family: "Inter", sans-serif;
}
footer h2, footer p, footer a{
    color: #000;   
}
footer h2{
    font-weight: 500;
    font-size: 25px;
}
footer a{
    text-decoration: none;
}
footer ul{
    padding: 0;
}
footer li{
    list-style: none;
}
.footer-box{
    width: 31%;
    padding: 3%;
    float: left;
    
}
.twitter-timeline {
    margin-left: 60px;
    margin-bottom: 100px;

}
footer .wrapper::after{
    clear: both;
    content: "";
    display: block;
}
.company-footer{
    width: 80%;
}
.company-footer h2{
    margin-top: 20px;
}
.company-footer h2, .company-footer p{
    margin-bottom: 20px;
}
.company-footer .footer-list a{
    font-size: 25px;   
    padding: 0 2px;
    
}
.footer-list li{
    margin-bottom: 1px;
}
.footer-list a{
    transition: 0.5s;
}
.footer-list a:hover{
    color: #2A9B39;
}
.footer-list li::after{
    clear: both;
    content: "";
    display: block;
}
.menu-footer{
    width: 80%;
    margin-left: 100px;
}
.footer-bottom{
    border-top: 1px solid #000;
}
.footer-bottom p{
    font-size: 14px;
    font-weight: 600;
    margin-top: 30px;
}

/*Responsividade: Celular*/

/*Barra de Navegação: Responsividade*/

@media (max-width:900px){
    .hamburger{
        display: block;
    }

    .hamburger .bar{
        color: black;
        width: 20px;
        height: 10px;
        display: block;
    }

    .nav_links{
        display: none;
    }
}

/*Header e Título: Responsividade*/

@media (max-width:900px){

    #img_cultura{
        height: 30%;
    }

    #cultura-maker-titulo{

        position: absolute;
        font-family: "Inter";
        top: 30%;
        left: 50%;
        text-shadow: none;
        box-shadow: none;
        font-size: 25px;
        font-weight: bold;

    }

}

/*A Cultura Maker: Responsividade*/

@media (max-width:900px){
    #cultura-maker-texto-principal-div{
        margin-top: 4%;
    }
    
    #cultura-maker-p1-titulo{
        margin-left:32%;
        font-family: "Inter", sans-serif;
        font-weight: bolder;
        color: #2A9B39;
        letter-spacing: 2px;
        margin-top: 10%;
    }
    
    #cultura-maker-background{
        margin-bottom: 0%;
        margin-left: 6%;
        margin-top: 16%;
        width: 100%;
    }
    
    #cultura-maker-texto{
        position: absolute;
        margin-top: 4%;
        margin-left: 9%;
        width: 90%;
    
    }
    
    .cultura-maker-p{
        font-family: "Arimo", sans-serif;
        font-size: 16px;
    }
    
    #cultura-maker-cm-img{
        position: absolute;
        margin-top: 50%;
        margin-left: 9%;
        height: 240px;
    }
    
}


/*Valores: Responsividade*/


@media (max-width:900px){

    .cultura-maker-titulo{
        color: #2A9B39;
        font-size: 22px;
        font-weight: bold;
        text-shadow: 0.5px 1px 4px #ececec;
        margin-left: -45px;
        
    }
    
    .cartao{
        padding: 10px;
    }

    .cartao-second{
        padding: 10px;
    }
    
    .cultura-maker-cards-uni{
        border-radius: 100%;
        box-shadow: 2px 2px 2px  #c7c7c7;
    }
    
    .card{
        border-radius: 40%;
        width: 25rem;
    }
    
    .cultura-maker-valores{
        margin-top: 310px;
        margin-left: 9%;
    }
    
    .div-img-cm{
        margin-top: 3.5%;
    }
    .cartao-texto{
        font-size: 9px;
        color: #8a8a8a;
    }
    
    .grid-container{
       display: flex;
       flex-direction: column;
       align-items: center;
       margin-bottom: -18px;
    }
    
    .grid-container-second{
       display: flex;
       flex-direction: column;
       align-items: center;
       padding-top: -10px;
    }
    
}


/*Escoaço Maker: Responsividade*/


@media (max-width:900px){

    .espaco-maker{
        margin-top: 15%;
        margin-bottom: 70%;
    }
    
    .espaco-maker-titulo{
        color: #2A9B39;
        font-weight: bold;
        letter-spacing: 2px;
        margin-left: 4%;
        font-size: 22px;
    }
    
    .espaco-maker-texto{
        margin-right: 15%;
        margin-left: 4%;
        margin-top: 4.5%;
    }
    
    .espaco-maker-texto-p{
        font-size: 16px;
        font-family: "Arimo", sans-serif;
        font-weight: 400;
    }
    
    .espaco-maker-figures{
        margin-top: 5%;
        position: absolute;
        left: 22.5%;
        height: 200px;
        
    }


}

