/*GERAL*/

.titles{
    font-family: "Inter", sans-serif;
}

/*barra de navegação*/

.inactive{
    color: #c2c2c2;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 8%;
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
}

.logo{
    padding-right: 0px;
}

nav ul {
    margin-top: 2.5%;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-family: "Inter", sans-serif;
}

nav ul li .inactive {
    color: #d6d4d4;
}

nav ul li a:hover {
    color: #2A9B39;
}

.botao-pesquisa{
    background-color: white;
    border: 0px;
    margin-left: 13px;
}

.btns .botao-entrar:hover{
    background-color: #c2c2c2;
    border-color: #404040;
}

/*DROPPDOWN MENU*/
.dropdown_menu{
    display: none;
    position: fixed;
    right: 2rem;
    height: 0;
    top: 60px;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.toggle_btn{
    display: none;
}

.dropdown_menu.open{
    height: 270px;
}

.dropdown_menu .drop_menu{
    width: 100%;
    padding: 0.7rem;
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-top: 1%;
    border-bottom: 0.2px solid #eeecec;
}

.dropdown_menu a{
    color: #000000;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

.dropdown_menu a:hover{
    font-weight: bold;
    scale: 1.05;
    color: #2A9B39;
}
/* header e título*/

#img_cultura{
    width: 100%;
    margin: none;
}

#cultura-maker-titulo{
    position: absolute;
    font-family: "Inter";
    top: 41.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: none;
    box-shadow: none;
    font-size: 30px;
    font-weight: bold;
}

/*Texto Principal*/

#cultura-maker-texto-principal-div{
    margin-top: 4%;
}

#cultura-maker-p1-titulo{
    margin-left: 41.1%;
    font-family: "Inter", sans-serif;
    font-weight: bolder;
    color: #2A9B39;
    letter-spacing: 2px;
}

#cultura-maker-background{
    margin-bottom: 0%;
    margin-left: 6%;
    margin-top: 10%;
}

#cultura-maker-texto{
    position: absolute;
    margin-top: 4%;
    margin-left: 9%;
    width: 35%;

}

.cultura-maker-p{
    font-family: "Arimo", sans-serif;
    font-size: 19px;
}

#cultura-maker-cm-img{
    position: absolute;
    margin-left: 57%;
    margin-top: 4%;
    float: right;
    height: 240px;
}

/*Cultura Maker*/

.cultura-maker-titulo{
    color: #2A9B39;
    font-size: 26px;
    font-weight: bold;
    
}

.second-table{
    margin-left: 16%;
}

.cartao{
    padding: 20px;
}

.cultura-maker-cards-uni{
    border-radius: 100%;
    width: 14rem;
}

.card{
    border-radius: 40%;
}

.cultura-maker-valores{
    margin-top: 7%;
    margin-left: 7%;
}

.div-img-cm{
    margin-top: 3.5%;
}
.cartao-texto{
    font-size: 11px;
    color: #8a8a8a;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto ;
    justify-content: center;
    align-content: center;
    gap: 5%;
    padding-top: 20px;
    margin-right: 40px;
    padding-right: 10%;
}

.grid-container-second{
    display: grid;
    grid-template-columns: auto auto ;
    justify-content: center;
    align-content: center;
    gap: 5%;
    padding-top: 20px;
}

.container-left{
    margin-left: 11%;
}



/*Espaço Maker*/

.espaco-maker{
    margin-top: 7%;
}

.espaco-maker-titulo{
    color: #2A9B39;
    font-weight: bold;
    letter-spacing: 2px;
    margin-left: 4%;
}

.espaco-maker-texto{
    margin-right: 15%;
    margin-left: 4%;
    margin-top: 4.5%;
}

.espaco-maker-texto-p{
    font-size: 20px;
    font-family: "Arimo", sans-serif;
    font-weight: 400;
}

.espaco-maker-figures{
    height: 300px;
    float: right;
    margin-right: 5%;
}

/*Galeria*/

.galeria{
    margin-top: 28%;
}

.galeria-titulo{
    margin-left: 4%;
    margin-top: 7%;
    color: #2A9B39;
    font-weight: bold;
    letter-spacing: 2px;
}

/*import*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

/*footer*/

.footer_rodape{
    margin-top: 30%;
    background-color: #ECECEC;
    width: 100%;
    display: absolute;
    flex-direction: column;
    align-items: start;
    bottom: 0;
    overflow: hidden;
}

.rodape{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-content: center;
    column-gap: 90px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 10%;
    padding-right: 10%;
    z-index: 10;
}

.rodape_logo{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.logo_footer{
    height: 70px;
}

.footer_horizontal{
    flex-direction: row;
    gap: 10px;
    margin-top: 40px;
}

.rodape_logo_texto{
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    width: 60%;
    margin-top: -4%;
    color: #000;
}

.footer_redes{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.redes_icon{
    height: 80px;
}

.footer_menu{
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 20px;
    margin-right: 60px;
}

.footer_menu_h3{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: #000;
}

.footer_menu_links{
    text-decoration: none;
    font-family: "Inter",sans-serif;
    font-size: 13px;
    color: #000;
    cursor: pointer;
}

.footer_menu_links:hover{
    color: #2A9B39;
}
.footer_menu_links_inativos:hover{
    color: #2A9B39;
}

.footer_contato{
    font-family: "Inter", sans-serif;
}
.footer_contato-texto{
    color: #000;
    font-size: 13px;
}

.footer_horizontal .footer_contato-titulo{
    color: #000;
    font-size: 20px;
    font-weight: 490;
}

.footer-bottom{
    margin-top: 8%;
    padding-left: 10%;
    width: 100%;
}

.wrapper {
    width: 100%;
}

.wrapper p {
    color: #000;
    font-size: 16px;
    width: 80%;
    font-family: "Inter", sans-serif;
}

.footer_menu_links_inativos{
    color: #515A5A;
    text-decoration: none;
    font-family: "Inter",sans-serif;
    font-size: 13px;
}
/*Responsividade: Celular*/

/*Barra de Navegação: Responsividade*/

@media (max-width:900px){
    .nav-bar .links{
        display: none;
    }
    
    .nav-bar .toggle_btn{
        display: block;
    }

    .dropdown_menu{
        display:block;
        right: 0%;
        width: 60%;
        border-top: 1px solid #ECECEC;
        border-left: 1px solid #ECECEC;
        border-right: 1px solid #ECECEC;
        border-bottom: 1px solid #ECECEC;
        z-index: 3;
    }

    .dropdown_menu{
        left: 0;
        right: 0;
        width: unset;
    }

    .botao-pesquisa{
        background-color: white;
        border: 0px;
        padding-left: 10px;
    }

    .btns .botao-entrar{
        height: 30px;
        font-size: 12px;
        font-family: "Inter", sans-serif;

    }

    .btns{
        margin-right: -160px;
    }

}



/*Carrossel*/

@media (max-width:900px){

    .carrossel{
        position: relative;
        top: 0;
    }

    .nav-bar{
        height: 4rem;
    }

    .logo{
        height: 3rem;
    }
    
    .imagem-top-carrossel{
        width: 100%;
    }

    .centered{
        font-size: 22px;
        margin-top: 0%;
        width: 100%;
    }
}

/*Header e Título: Responsividade*/

@media (max-width:900px){

    #img_cultura{
        height: 30%;
    }

    #cultura-maker-titulo{

        position: absolute;
        font-family: "Inter";
        top: 27.5%;
        left: 50%;
        text-shadow: none;
        box-shadow: none;
        font-size: 25px;
        font-weight: bold;

    }

}

/*A Cultura Maker: Responsividade*/

@media (max-width:900px){
    #cultura-maker-texto-principal-div{
        margin-top: 4%;
    }
    
    #cultura-maker-p1-titulo{
        margin-left:32%;
        font-family: "Inter", sans-serif;
        font-weight: bolder;
        color: #2A9B39;
        letter-spacing: 2px;
        margin-top: 10%;
    }
    
    #cultura-maker-background{
        margin-bottom: 0%;
        margin-left: 6%;
        margin-top: 16%;
        width: 100%;
    }
    
    #cultura-maker-texto{
        position: absolute;
        margin-top: 4%;
        margin-left: 9%;
        width: 90%;
    
    }
    
    .cultura-maker-p{
        font-family: "Arimo", sans-serif;
        font-size: 16px;
    }
    
    #cultura-maker-cm-img{
        position: absolute;
        margin-top: 50%;
        margin-left: 9%;
        height: 240px;
    }
    
}


/*Valores: Responsividade*/


@media (max-width:900px){

    .cultura-maker-titulo{
        color: #2A9B39;
        font-size: 22px;
        font-weight: bold;
        text-shadow: 0.5px 1px 4px #ececec;
        margin-left: -45px;
        
    }
    
    .cartao{
        padding: 10px;
    }

    .cartao-second{
        padding: 10px;
    }
    
    .cultura-maker-cards-uni{
        border-radius: 100%;
        box-shadow: 2px 2px 2px  #c7c7c7;
    }
    
    .card{
        border-radius: 40%;
        width: 25rem;
    }
    
    .cultura-maker-valores{
        margin-top: 310px;
        margin-left: 9%;
    }
    
    .div-img-cm{
        margin-top: 3.5%;
    }
    .cartao-texto{
        font-size: 9px;
        color: #8a8a8a;
    }
    
    .grid-container{
       display: flex;
       flex-direction: column;
       align-items: center;
       margin-bottom: -18px;
    }
    
    .grid-container-second{
       display: flex;
       flex-direction: column;
       align-items: center;
       padding-top: -10px;
    }
    
}


/*Escoaço Maker: Responsividade*/


@media (max-width:900px){

    .espaco-maker{
        margin-top: 15%;
        margin-bottom: 70%;
    }
    
    .espaco-maker-titulo{
        color: #2A9B39;
        font-weight: bold;
        letter-spacing: 2px;
        margin-left: 4%;
        font-size: 22px;
    }
    
    .espaco-maker-texto{
        margin-right: 15%;
        margin-left: 4%;
        margin-top: 4.5%;
    }
    
    .espaco-maker-texto-p{
        font-size: 16px;
        font-family: "Arimo", sans-serif;
        font-weight: 400;
    }
    
    .espaco-maker-figures{
        margin-top: 5%;
        position: absolute;
        left: 22.5%;
        height: 200px;
        
    }

    /*Footer: Responsividade*/

@media (max-width:900px){

    .footer_rodape{
        background-color: #ECECEC;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        column-width: 100%;
    }
    
    .rodape{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        column-gap: 90px;
        padding-top: 2%;
        padding-bottom: 2%;
        padding-left: 10%;
        padding-right: 10%;
    }
    
    .rodape_logo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .logo_footer{
        height: 40px;
    }
    
    .footer_horizontal{
        flex-direction: row;
        gap: 10px;
        margin-top: 40px;
    }
    
    .rodape_logo_texto{
        font-size: 13px;
        font-family: "Inter", sans-serif;
        font-weight: 500;
        width: 60%;
        margin-top: -4%;
        text-align: center;
        color: #000;
    }
    
    .footer_redes{
        display: flex;
        flex-direction: row;
        gap: 8px;
    }
    
    .redes_icon{
        height: 80px;
    }
    
    .footer_menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 20px;
        margin-left: 65px;
        padding-bottom: 10%;
    }
    
    .footer_menu_h3{
        font-family: "Inter", sans-serif;
        font-weight: 600;
        color: #000;
    }
    
    .footer_menu_links{
        text-decoration: none;
        font-family: "Inter",sans-serif;
        font-size: 13px;
        color: #000;
    }
    
    .footer_contato{
        font-family: "Inter", sans-serif;
        text-align: center;
        padding-top: 50px;
    }
    .footer_contato-texto{
        color: #000;
        font-size: 13px;
        text-align: center;
    }
    
    .footer_horizontal .footer_contato-titulo{
        color: #000;
        font-size: 20px;
        font-weight: 490;
        text-align: center;
    }
    
    .footer-bottom{
        margin-top: 8%;
        padding-left: 10%;
        width: 100%;
    }
    
    .wrapper {
        width: 100%;
    }
    
    .wrapper p {
        color: #000;
        font-size: 10px;
        width: 80%;
        text-align: center;
        font-family: "Inter", sans-serif;
    }
    

}

}

