/*GERAL*/

.titles{
    font-family: "Inter", sans-serif;
}

/*barra de navegação*/

.inactive{
    color: #c2c2c2;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 8%;
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
}

.logo{
    padding-right: 0px;
}

nav ul {
    margin-top: 2.5%;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-family: "Inter", sans-serif;
}

nav ul li .inactive {
    color: #d6d4d4;
}

nav ul li a:hover {
    color: #2A9B39;
}

.botao-pesquisa{
    background-color: white;
    border: 0px;
    margin-left: 13px;
}

.btns .botao-entrar:hover{
    background-color: #c2c2c2;
    border-color: #404040;
}

/*DROPPDOWN MENU*/
.dropdown_menu{
    display: none;
    position: fixed;
    right: 2rem;
    height: 0;
    top: 75px;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.toggle_btn{
    display: none;
}

.dropdown_menu.open{
    height: 270px;
}

.dropdown_menu .drop_menu{
    width: 100%;
    padding: 0.7rem;
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-top: 1%;
    border-bottom: 0.2px solid #eeecec;
}

.dropdown_menu a{
    color: #000000;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

.dropdown_menu a:hover{
    font-weight: bold;
    scale: 1.05;
    color: #2A9B39;
}



/* header e título*/

.header{
    text-align: center;
}

.titulo-header{
    text-align: center;
}

#img_cultura{
    width: 100%;
    margin: none;
}

#cultura-maker-titulo{
    position: absolute;
    font-family: "Inter";
    top: 41.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: none;
    box-shadow: none;
    font-size: 30px;
    font-weight: bold;
}

/*Grid*/

.grid-projetos{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-content: center;
    gap: 120px;
    padding-top: 20px;
}

.card{
    width: 15rem;
}

.card-titulo{
    font-family: "Inter", serif;
    font-size: 16px;
    color:black;
}

.card-texto{
    font-family: "Inter", serif;
    color: #404040;
    font-size: 12px;
}

.card-image{
    width: 2%;
}

.card-button{
    margin-left: 55%;
    margin-top: 0.8%;
    width: 95px;
    font-family: "Inter";
    font-size: 10px;
    border-radius: 15px;
    
}

.card-button1{
    margin-left: 55%;
    margin-top: 18.7%;
    width: 95px;
    font-family: "Inter";
    font-size: 10px;
    border-radius: 15px;
    
}

.card-button2{
    margin-left: 55%;
    margin-top: 9.3%;
    width: 95px;
    font-family: "Inter";
    font-size: 10px;
    border-radius: 15px;
    
}

.card-saiba-mais{
    font-size: 10px;
}

.cartao{
    margin-left: 50px;
    width: 15rem;
}

.card-data{
    padding-left: 230px;
}

.cartao-corpo{
    border:#2A9B39 30px;
    height: 158px;
}

.anchor-text{
    width: 60px;
    text-decoration: none;
    color: #2A9B39;
    font-size: 13px;
}

.anchor-text:hover{
    color: white;
}

.titulo-card{
    color: white;
}

/*import*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

/*footer*/
footer{
    background-color: #ECECEC;
    padding-top: 2em;
    padding-bottom: 40px;
    margin-top: 10%;
    width: 100%;
    border-top: 5px solid #2A9B39;
    font-family: "Inter", sans-serif;
}
footer h2, footer p, footer a{
    color: #000;   
}
footer h2{
    font-weight: 500;
    font-size: 25px;
}
footer a{
    text-decoration: none;
}
footer ul{
    padding: 0;
}
footer li{
    list-style: none;
}
.footer-box{
    width: 31%;
    padding: 3%;
    float: left;
    
}
.twitter-timeline {
    margin-left: 60px;
    margin-bottom: 100px;

}
footer .wrapper::after{
    clear: both;
    content: "";
    display: block;
}
.company-footer{
    width: 80%;
}
.company-footer h2{
    margin-top: 20px;
}
.company-footer h2, .company-footer p{
    margin-bottom: 20px;
}
.company-footer .footer-list a{
    font-size: 25px;   
    padding: 0 2px;
    
}
.footer-list li{
    margin-bottom: 1px;
}
.footer-list a{
    transition: 0.5s;
}
.footer-list a:hover{
    color: #2A9B39;
}
.footer-list li::after{
    clear: both;
    content: "";
    display: block;
}
.menu-footer{
    width: 80%;
    margin-left: 100px;
}
.footer-bottom{
    border-top: 1px solid #000;
}
.footer-bottom p{
    font-size: 14px;
    font-weight: 600;
    margin-top: 30px;
}


/*Responsividade: Celular*/

/*Barra de Navegação: Responsividade*/

@media (max-width:900px){
    .nav-bar .links{
        display: none;
    }
    
    .nav-bar .toggle_btn{
        display: block;
    }

    .dropdown_menu{
        display:block;
        right: 0%;
        width: 60%;
        border-top: 1px solid #ECECEC;
        border-left: 1px solid #ECECEC;
        border-right: 1px solid #ECECEC;
        border-bottom: 1px solid #ECECEC;
        z-index: 3;
    }

    .dropdown_menu{
        left: 0;
        right: 0;
        width: unset;
    }

    .botao-pesquisa{
        background-color: white;
        border: 0px;
        padding-left: 5px;
    }

    .btns .botao-entrar{
        height: 30px;
        font-size: 12px;
        font-family: "Inter", sans-serif;

    }

    .btns{
        margin-right: -120px;
    }
}
    
/*Header e Título: Responsividade*/

@media (max-width:900px){

    #img_cultura{
        height: 30%;
    }

    #cultura-maker-titulo{

        position: absolute;
        font-family: "Inter";
        top: 27.5%;
        left: 50%;
        text-shadow: none;
        box-shadow: none;
        font-size: 25px;
        font-weight: bold;

    }

}

/*Projetos: Responsividade*/

@media (max-width:900px){

    .grid-projetos{
        display: grid;
        width: 100%;
        grid-template-columns: 11rem 11rem ;
        justify-content:center;
        align-content: center;
        row-gap: 30px;
        column-gap: 20px;
        padding-top: 40px;
        margin-bottom: 90px;
    }

    .grid-projetos button{
        display: none;
    }

    .card{
        width: 11rem;
        height: 14rem;
    }
    
    .card-titulo{
        font-family: "Inter", serif;
        font-size: 14px;
        color:black;
    }
    
    .card-texto{
        font-family: "Inter", serif;
        color: #404040;
        font-size: 9px;
    }
    
    .card-image{
        width: 2%;
    }
    
    .card-button{
        margin-left: 55%;
        margin-top: 0.8%;
        width: 80px;
        font-family: "Inter";
        font-size: 3px;
        border-radius: 15px;
        display: none;
        
    }
    
    .card-saiba-mais{
        font-size: 3px;
    }
    
    .cartao{
        margin-left: 50px;
    }
    
    .card-data{
        padding-left: 23px;
    }
    
    .cartao-corpo{
        border:#2A9B39 30px;
    }
    
    .anchor-text{
        width: 60px;
        text-decoration: none;
        color: #2A9B39;
        font-size: 3px;
        display: none;
    }
    
    .anchor-text:hover{
        color: white;
    }
    
    .titulo-card{
        color: white;
    }
    

}
