/*GERAL*/

.titles{
    font-family: "Inter", sans-serif;
}


/*Barra de Navegação*/

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 8%;
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
}

.logo{
    padding-right: 0px;
}

nav ul {
    margin-top: 2.5%;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 400;
}

nav ul li a:hover {
    color: #2A9B39;
}

.botao-pesquisa{
    border: 0px;
    background-color: white;
    padding-right: 18px;
    padding-left: 18px;
}

/*Título e Descrição*/

.projeto_descricao{
    padding-top: 150px;
}

.titulo_projeto {
    text-align: center;
}

.reta-horizontal{

    display: block;
    margin-top: 0.4em;
    margin-bottom: 0.5em;
    opacity: 100%;
    margin-left: 470px;
    margin-right: 470px;
    border-style: solid;
    border-width: 1.9px;
    border-color:#61AD6B;
}

.subtitulo_projeto{
    margin-left: 340px;
}

.subtitulo{
    padding-top: 8px;
    width: 580px;
    color: #7B7B7B;
    text-align: center;
    font-family: "Arimo";
    letter-spacing: 0.5px;
    font-weight: 350;
    font-size: 14px;
}

.projeto-content{
    display: inline-flex;
}

.projeto-descricao{
    padding-top: 25px;
    padding-bottom: 35px;
    margin-bottom: 100px;
}

.projeto-imagem{
    position: absolute;
    height: 400px;
    margin-left: 72px;
    margin-top: -2px;
}

.projeto-imagem-background{
    margin-top: 40px;
    height: 300px;
    width: 560px;
    background-color: #2A9B39;
}

.highlight{
    color: #2A9B39;
}

.projeto-descricao-content{
    margin-top: 80px;
    margin-left: 60px;
}

.projeto-texto{
    width: 530px;
}

.projeto-resultados-esperados{
    margin-left: 85px;
}
.resultado-texto{
    width: 580px;
}

.projeto-resultados-alcancados{
    margin-top: 80px;
}

.resultados-titulo-alcancado{
    text-align: right;
    margin-right: 75px;
}
.resultado-texto-alcancado{
    text-align: right;
    width: 580px;
    margin-left: 610px;
}

/*Equipe do Projeto*/

.equipe-projeto{
    margin-bottom: 35px;
}

.highlight-bold{
    font-weight: bold;
    color: #61AD6B;
}

.underline{
    opacity: 100%;
    border-style: solid;
    border-color:#61AD6B;
    border-width: 0.8px;

}

.grid{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: -20px;
}

.grid-item{
    margin-top: 50px;
}

.item-imagem{
    border-radius: 100%;
    height: 145px;
}

.item-text{
    display: inline-block;
    position: relative;
    left: 15px;
    top: 20px;
}

.equipe-membro-nome{
    font-family: "Arimo", sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.equipe-ocupacao{
    font-weight: 400;
    font-size: 16px;
}

        /*Título: Equipe*/
        .equipe-titulo{
            white-space: nowrap;
            overflow-x: auto;
            width: 100%;
            margin-top: 70px;
        }

        .reta-horizontal-pequena{
            display: inline-block;
            margin-top: 0.4em;
            margin-bottom: 0.5em;
            opacity: 100%;
            width: 50px;
            margin-right: 8px;
            border-style: solid;
            border-width: 1.9px;
            border-color:#61AD6B;
        }

        .equipe-titulo-h2{
            display: inline-block;
            margin-left: 0px;
        }

        .reta-horizontal-grande{
            display: inline-block;
            margin-top: 0.4em;
            margin-bottom: 0.5em;
            opacity: 100%;
            width: 700px;
            margin-left: 10px;
            margin-right: 0px;
            border-style: solid;
            border-width: 1.9px;
            border-color:#61AD6B;

        }

        /*Título: Coordenadores/Estudantes*/

        .equipe-coordenadores{
            margin-top: 60px;
            margin-left: 60px;
        }

        .coordenadores-titulo-h3{
            color: #7B7B7B;
            font-size: 22px;
            opacity: 70%;
            margin-left: 2px;
        }

        .underline-coordenadores{
            width: 17.2%;
            margin-top: -3px;
        }

        .equipe-estudantes{
            margin-top: 60px;
            margin-left: 60px;
        }

        .estudantes-titulo-h3{
            color: #7B7B7B;
            font-size: 22px;
            opacity: 70%;
            margin-left: 4px;
        }

        .underline-estudantes{
            width: 13%;
            margin-top: -3px;
        }

/*Galeria do Projeto*/

.galeria-titulo-h2{
    color: black;
}

.galeria-titulo{
    white-space: nowrap;
    overflow-x: auto;
    width: 100%;
    margin-top: 70px;
}

.reta-horizontal-pequena-teste{
    display: inline-block;
    margin-top: 0.4em;
    margin-bottom: 0.5em;
    opacity: 100%;
    width: 700px;
    border-style: solid;
    border-width: 1.9px;
    border-color:#61AD6B;
}

.galeria-titulo-h2{
    display: inline-block;
    margin-left: 0px;
}

.reta-horizontal-grande-teste{
    display: inline-block;
    margin-top: 0.4em;
    margin-bottom: 0.5em;
    opacity: 100%;
    width: 50px;
    margin-left: 0px;
    margin-right: 0px;
    border-style: solid;
    border-width: 1.9px;
    border-color:#61AD6B;

}

.galeria-photo{
    height: 265px;
    padding: 10px;
}

.grid-galeria{
    margin-top: 70px;
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
}

/*Equipamento do Projeto*/

.reta-horizontal-grande-equipamento{
    display: inline-block;
    margin-top: 0.4em;
    margin-bottom: 0.5em;
    opacity: 100%;
    width: 585px;
    margin-left: 10px;
    margin-right: 0px;
    border-style: solid;
    border-width: 1.9px;
    border-color:#61AD6B;
}

.item-text-equipamento{
    display: inline-block;
    position: relative;
    left: 15px;
    top: 5px;
}

.equipamento-nome{
    font-family: "Arimo", sans-serif;
    font-size: 18px;
}

.equipamento-imagem{
    border-radius: 100%;
    height: 120px;
}

.equipamento-grid{
    margin-top: 30px;
    text-align: center;
}

/*footer*/
footer{
    background-color: #ECECEC;
    padding-top: 2em;
    padding-bottom: 40px;
    margin-top: 10%;
    border-top: 5px solid #2A9B39;
    font-family: "Inter", sans-serif;
}
footer h2, footer p, footer a{
    color: #000;   
}
footer h2{
    font-weight: 500;
    font-size: 25px;
}
footer a{
    text-decoration: none;
}
footer ul{
    padding: 0;
}
footer li{
    list-style: none;
}
.footer-box{
    width: 31%;
    padding: 3%;
    float: left;
    
}
.twitter-timeline {
    margin-left: 60px;
    margin-bottom: 100px;

}
footer .wrapper::after{
    clear: both;
    content: "";
    display: block;
}
.company-footer{
    width: 80%;
}
.company-footer h2{
    margin-top: 20px;
}
.company-footer h2, .company-footer p{
    margin-bottom: 20px;
}
.company-footer .footer-list a{
    font-size: 25px;   
    padding: 0 2px;
    
}
.footer-list li{
    margin-bottom: 1px;
}
.footer-list a{
    transition: 0.5s;
}
.footer-list a:hover{
    color: #2A9B39;
}
.footer-list li::after{
    clear: both;
    content: "";
    display: block;
}
.menu-footer{
    width: 80%;
    margin-left: 100px;
}
.footer-bottom{
    border-top: 1px solid #000;
}
.footer-bottom p{
    font-size: 14px;
    font-weight: 600;
    margin-top: 30px;
}